{% extends "global/Page.html" %}
{% load otree %}
{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}"/>

{% endblock %}


{% block title %}
Merci, veuillez attendre à présent les instructions de l'expérimentateur.
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
         Merci de suivre attentivement les consignes expliquées par l'expérimentateur.
    </h3>

    
    

</div>
</div>
{% endblock %}
