{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}

    <style>
.col-form-label{
        
        font-weight: bold;
    
        }
.scale {
    float: left;
    position: absolute;
    left: 80px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    border: solid 3px #7b1414;
}
.page-header {
    padding-top: 0px;
padding-bottom: 20px;
}
.form-group{
    margin-left: 200px;       
        }
 </style>
 
 {% endblock %}


{% block content %}
<h3>Dans le cas de cette étude, nous sommes également intéressés par vos perceptions de la société en général et par vos opinions personnelles la concernant.</h3>
<h3 style="    padding-bottom: 20px;">        S’il vous plait, indiquez le degré d’accord ou de désaccord exprimant votre opinion pour chaque affirmation, en utilisant l'échelle suivante :
</h3>
    <div class="scale">
 <ul>
  <li>- 4 pas du tout d’accord</li>
  <li>- 3 souvent en désaccord</li>
  <li>- 2 parfois en désaccord</li>
  <li>- 1 légèrement en désaccord</li>
  <li>     0 neutre</li>
  <li> + 1 légèrement d'accord</li>
    <li>+ 2 parfois d'accord </li>
      <li>+ 3 souvent d'accord</li>
        <li>+ 4 totalement d’accord</li>
</ul>  
    
    </div>
    {% formfields %}

    {% next_button %}

{% endblock %}
