{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}   
   <link href="{% static 'IPScrabble/style.css' %}" rel="stylesheet"/>   
{% endblock %}

{% block title %}
    Merci, l'expérimentation est maintenant terminée.
{% endblock %}

{% block content %}
<h3>Votre cagnotte individuelle est de <span class="points">{{player.participant.payoff}}</span></h3>

    
    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <h4>Veuillez rester assis jusqu'à ce que votre numéro soit appelé.</h4>
        </div>
    </div>

    


{% endblock %}

