{% load otree %}

<h3>Vue au tour : {{ subsession.round_number }}</h3>

    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/highcharts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>
   <link href="{% static 'IPDradical/style.css' %}" rel="stylesheet"/>  


    <style>

.highcharts-background{
            background-color: #f8f9fa;
    fill: #f8f9fa;

        }

#chart_column{
    width: 25%;
    height: 300px;
    float: right;
    margin-bottom: 30px;
        }

#chart{
    width: 50%;
    height: 300px;
    margin-bottom: 30px;
        }



.highcharts-title{
    font-size: 20px; 
    text-align: center;
    padding-top: 2px;
        }

.info{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


{% for color in colors %}
.color-role-{{forloop.counter0}}{
        color: {{color}};
}  

.highcharts-color-{{forloop.counter0}}{
        stroke-width : 2px;
        fill: {{color}};
        stroke: {{color}};

        }

{% endfor %}

    </style>
    
    
<div class="info">

    <div id="chart_column"></div>
    
    <div id="chart"></div>

</div>

{% block scripts %}
<script src="{% static 'global/highcharts.js' %}"></script>
<script src="{% static 'global/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'global/jquery-ui/jquery-ui.min.js' %}"></script>

<script src="{% static 'IPDradical/script.js' %}"></script>

<script>
function rgbToHsl(r, g, b) {
  r /= 255, g /= 255, b /= 255;

  var max = Math.max(r, g, b), min = Math.min(r, g, b);
  var h, s, l = (max + min) / 2;

  if (max == min) {
    h = s = 0; // achromatic
  } else {
    var d = max - min;
    s = l > 0.5 ? d / (2 - max - min) : d / (max + min);

    switch (max) {
      case r: h = (g - b) / d + (g < b ? 6 : 0); break;
      case g: h = (b - r) / d + 2; break;
      case b: h = (r - g) / d + 4; break;
    }

    h /= 6;
  }

  return [ h, s, l ];
}


function hslToHex(h, s, l) {
  h /= 360;
  s /= 100;
  l /= 100;
  let r, g, b;
  if (s === 0) {
    r = g = b = l; // achromatic
  } else {
    const hue2rgb = (p, q, t) => {
      if (t < 0) t += 1;
      if (t > 1) t -= 1;
      if (t < 1 / 6) return p + (q - p) * 6 * t;
      if (t < 1 / 2) return q;
      if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
      return p;
    };
    const q = l < 0.5 ? l * (1 + s) : l + s - l * s;
    const p = 2 * l - q;
    r = hue2rgb(p, q, h + 1 / 3);
    g = hue2rgb(p, q, h);
    b = hue2rgb(p, q, h - 1 / 3);
  }
  const toHex = x => {
    const hex = Math.round(x * 255).toString(16);
    return hex.length === 1 ? '0' + hex : hex;
  };
  return `#${toHex(r)}${toHex(g)}${toHex(b)}`;
}

function hexToRgb(hex) {
    // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
    var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
    hex = hex.replace(shorthandRegex, function(m, r, g, b) {
        return r + r + g + g + b + b;
    });

    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
    } : null;
}

$(document).ready(function() {
        
    var current_round = {{round}};
    var num_round = {{Constants.num_rounds}};
    var categories_chart = {{round_list}};
    var colors = {{colors|json}};
    var huerotate = {{Constants.huerotate}};
    var roles = {{roles_list}};
 
draw_linechart({{  highcharts_series|json  }}, "Historique des tours précédents", categories_chart,num_round-1);

draw_columnchart({{ highcharts_series_columns|json }},"Situation actuelle");
   
    var huecolor_deg;
            

});
        
</script>

{% endblock %}

