{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/highcharts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>
   <link href="{% static 'IPDradical/style.css' %}" rel="stylesheet"/>   
   <link href="{% static 'global/spinner.css' %}" rel="stylesheet"/>   


    <style>
 .otree-timer {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;

    z-index: 2;
}   
    
body{
    border-color : {{my_colors}};     
     }

 
    .otree-title{
                text-align: center;
}
    .otree-body {
    max-width: 1100px;
}


 .form-group{
    margin-bottom: 0;
         }    
 
        .slider_box {

    margin-top: 10px;
    margin-bottom: 10px;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;

    margin-left: 15px;
    margin-right: 15px;

    display: inline-block;
    }
        .slider {
        cursor:pointer;

    margin: auto;
    height: 200px;
    width: 100px;
    }
        .slider_activated{

                }



.display_group {

    margin-top: 10px;
    font-size: 35px;
    border-radius: 10px;
    background: #ffc107;
    text-align: center;
    color: white;
    position: relative;
    min-width: 120px;
}
.max_attack{
    border-radius: 10px;
    background: #DDD;
    text-align: center;
    color: white;
    padding: 5px;
    
}
.page-header {
    padding-top: 0;
     margin-bottom: 0; 
}

h2{
      color: #696969;
   }

.title_group {


font-size: 20px;
    text-align: center;
    color: black;
    position: relative;        
        
        }

.ui-widget.ui-widget-content {
    border: none;
}
        
.ui-widget-header {
    background: url('{% static "global/coins.png" %}');
    background-repeat: repeat-y;
    background-size: 100% auto;

}
.ui-slider-range {
        
    cursor: pointer;        
        }

.ui-widget-content {
    border: none; 
    background: #fff;
    color: #333;
}

.ui-slider-vertical .ui-slider-handle {
    left: 40%;  
    border-radius: 10px;
    outline: none;
display:none;

}
.ui-slider {
    background: url('{% static "global/coins-bg.png" %}');
    background-repeat: repeat-y;
    background-size: 100% auto;

}
.ui-state-active,  .ui-widget-content .ui-state-active{
        background:#ffc107;
        border: 1px solid #f6f6f6;
        }
.ui-state-focus,  .ui-widget-content .ui-state-focus{
        background:#ffc107;
        border: 1px solid #f6f6f6;
        }

.ui-slider .ui-slider-handle {
    cursor: pointer;

}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 1;
}

.highcharts-background{
            background-color: #f5f5f5;
    fill: #f5f5f5;

        }


#slider_group_{{ my_role }} .ui-slider-handle{
    opacity: 0;
        }


#chart_column{
    width: 25%;
    height: 250px;
    float: right;
        }

#chart{
    width: 50%;
    height: 250px;
        }

#weather{
    width: 25%;
    height: 250px;
    float: right;
        }


.weather-icons{
      margin: auto;
          margin-top: 20px;
          color : #cccccc47;
        }
.weather-active-{{weather}}{
        color: {{my_colors}};
    border: {{my_colors}} solid 3px;
    padding: 5px;
    border-radius: 20px;
        }

.color-myrole{
        color: {{my_colors}};
}
.weather-icons .fas{
     margin-bottom: 10px;

     }
.info{
    display: flow-root;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.sliders{
                    text-align: center;

        }


{% for color in colors %}

.color-role-{{forloop.counter0}}{
        color: {{color}};
}  

{% endfor %}


.myslider{
    border: 4px solid {{my_colors}};
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-bottom: 5px;
        min-width: 200px;


    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
        }

.info-group{
    width: 35%;
    float:left;
     font-size: 18px; 
    font-weight: bold;
   
    }
.info-other-group{
    width: 33%;
    float:left;
    font-size: 18px; 
    font-weight: bold;

    }
.slider_limit_outer{
            position: relative;

        }

.slider_limit{
    display: block;
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    color: #656565;
    border-top: 8px dashed #656565;
    margin-bottom: 7px;
    text-align: left;
    width: 150px;
    padding-right: 20px;
    position: absolute;
    top: {{max_attack_percent}}%;
    right: 87%;
        }


.slider_errors ul{
    display: block;

    list-style-type: none;
    padding: 0px;
    width: 120px;
    margin-bottom: 5px;

    position: relative;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: .25rem;

    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;

  }

.payoff{
      min-width: 9.5rem;
    display: inline-block;      
        }

    </style>

{% endblock %}

{% block title %}
    Tour n°{{round}}.
{% endblock %}

{% block content %}


<div class="info">

    <div id="weather" class="highcharts-title">
    <p>Météo de votre groupe pour ce tour
       {% if weather_next_tour > 1 %}
    les <span>{{weather_next_tour}}</span> tours suivants
       {% elif weather_next_tour > 0 %}
    le tour suivant
        {% else %}
    ce tour
       {% endif %} 
    </p>
        <div class="weather-icons">
        <i class="fas fa-2x fa-sun weather-active-positive"> +{{weather_val_percent.positive }}%</i>
        <i class="fas fa-2x fa-cloud-sun weather-active-neutral"> +{{weather_val_percent.neutral  }}%</i>
        <i class="fas fa-2x fa-cloud weather-active-negative"> {{weather_val_percent.negative  }}%</i>
        </div>
    
    </div>

    <div id="chart_column"></div>
    
    <div id="chart"></div>

</div>

<h5>Veuillez choisir le montant que vous voullez prendre ou laisser à chaque groupe :</h5>

<div class="form-group required">
<div class="sliders">

{% comment %}
My group
{% endcomment %}
  
            
<div class="myslider" >
    <div id="title_group_{{ my_role }}" class="title_group" style="font-size: 40px;">Vous</div>
        <div class="slider_limit_outer">
            <div id="slider_group_{{ my_role }}" class="slider" style="filter: grayscale(100%);"></div>
            <div class="slider_limit" >Votre limite :</br>{{max_attack}}</div>
        </div>

        <div id="display_group_{{ my_role }}" class="display_group" style="filter: grayscale(100%);" >{{initial_payoff|json}}</div>

    <input type="hidden" name="group_{{ my_role }}" id="group_{{ my_role }}" value="{{initial_payoff|json}}" />
</div>



{% comment %}
The other groups :
{% endcomment %}


   {% for field in form %}
       {% if forloop.counter > 1 %}
           <div class="slider_box">
           <div class="slider_errors">{{ field.errors }}</div>
               <div id="title_group_{{ field.label  }}" class="title_group"><i class="fas fa-3x fa-users" style="color:#ffc107"></i></div>
                <div id="slider_{{ field.name }}"  class="slider" ></div>
                <div id="display_{{ field.name }}" class="display_group">-</div>

               <input type="hidden" name="{{ field.name }}" id="{{ field.name }}" class="input_slider" value="" />
            </div>

 

       {% endif %}
   {% endfor %}


</div>

</div>

<div id="allchoiceneeded" style="display:none" class="alert alert-danger" role="alert">
 Veuillez cliquer sur toutes les piles pour indiquer un choix, même pour indiquer 0 !
</div>

{% if mode == "parochial" %}
<h5  style="line-height: 1.5;">Vous allez dépenser <span class="payoff " ><span id="money_spent">0 point</span></span> de votre cagnotte pour faire gagner à votre groupe <span class="color-myrole">{{mycolorname}}</span>  <i class="fas fa-users color-myrole"></i> <span class="payoff " style="background-color :{{my_colors}}" ><span id="money_my_group_gained">0 point</span></span> ainsi répartis : <span class="payoff " style="background-color :{{my_colors}}" ><span id="money_I_gained">0 point</span></span> pour vous, <span class="payoff " style="background-color :{{my_colors}}" ><span id="money_other_gained">0 point</span></span> pour les deux autres</h5>
{% else %}
<h5  style="line-height: 1.5;">Vous allez dépenser <span class="payoff " ><span id="money_spent">0 point</span></span> de votre cagnotte pour gagner <span class="payoff " ><span id="money_I_gained">0 point</span></span></h5>

{% endif %}

<div  style="text-align: center;">
   <button id="btn-play" class="btn btn-primary btn-large" style=" font-size: 25px;" type="button">
      Ok, je valide
    </button>
     <button id="btn-send" style="display: none;">
        Ok
    </button> 
</div>   





<div id="overlay" class="ui-widget-overlay" style="z-index: 1001; display: none;     background: #607D8B;    opacity: 0.9;">
  <div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
</div>
{% endblock %}
{% block scripts %}


<script src="{% static 'global/highcharts.js' %}"></script>
<script src="{% static 'global/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'IPDradical/script.js' %}"></script>

<script>
function rgbToHsl(r, g, b) {
  r /= 255, g /= 255, b /= 255;

  var max = Math.max(r, g, b), min = Math.min(r, g, b);
  var h, s, l = (max + min) / 2;

  if (max == min) {
    h = s = 0; // achromatic
  } else {
    var d = max - min;
    s = l > 0.5 ? d / (2 - max - min) : d / (max + min);

    switch (max) {
      case r: h = (g - b) / d + (g < b ? 6 : 0); break;
      case g: h = (b - r) / d + 2; break;
      case b: h = (r - g) / d + 4; break;
    }

    h /= 6;
  }

  return [ h, s, l ];
}


function hslToHex(h, s, l) {
  h /= 360;
  s /= 100;
  l /= 100;
  let r, g, b;
  if (s === 0) {
    r = g = b = l; // achromatic
  } else {
    const hue2rgb = (p, q, t) => {
      if (t < 0) t += 1;
      if (t > 1) t -= 1;
      if (t < 1 / 6) return p + (q - p) * 6 * t;
      if (t < 1 / 2) return q;
      if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
      return p;
    };
    const q = l < 0.5 ? l * (1 + s) : l + s - l * s;
    const p = 2 * l - q;
    r = hue2rgb(p, q, h + 1 / 3);
    g = hue2rgb(p, q, h);
    b = hue2rgb(p, q, h - 1 / 3);
  }
  const toHex = x => {
    const hex = Math.round(x * 255).toString(16);
    return hex.length === 1 ? '0' + hex : hex;
  };
  return `#${toHex(r)}${toHex(g)}${toHex(b)}`;
}

function hexToRgb(hex) {
    // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
    var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
    hex = hex.replace(shorthandRegex, function(m, r, g, b) {
        return r + r + g + g + b + b;
    });

    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
    } : null;
}

$(document).ready(function() {
        



$('#form').submit(function() {

    $("#overlay, .sk-fading-circle, #PleaseWait").show();

});        
        

    $('.otree-form-errors').html("S'il vous plaît, veuillez corriger les erreurs ci-dessous.");    
    $('.errorlist').children('li').html("Indiquez votre choix !"); 
    
    
    $('.otree-form-errors').html("S'il vous plaît, veuillez corriger les erreurs ci-dessous."); 
     
  $('#btn-play').click(function() {
         //Ok, je joue avec <br/>cette répartition de points 
    $('.errorlist').hide();   
    var empty = $(".input_slider").filter(function() {
        return this.value === "";
    });
    if(empty.length) {
        //At least one input is empty
      $("#allchoiceneeded").show();
      
     empty.parents('.slider_box').children('.slider_errors').html("<ul class='errorlist'><li>Indiquez votre choix !</li></ul>"); 
    }else{
   
     $('#btn-send').click();
    }
});
    
                   
        
    
 
    var mode = "{{mode}}";
        
    var current_round = {{round}};
    var num_round = {{Constants.num_rounds}};
    var categories_chart = {{round_list}};
    var colors = {{colors|json}};
    var huerotate = {{Constants.huerotate}};
    var roles = {{roles_list}};

draw_linechart({{  highcharts_series|json  }}, "Historique des tours précédents", categories_chart,num_round);

draw_columnchart({{ highcharts_series_columns|json }},"Situation actuelle");

 
   
    var huecolor_deg;
        
    var my_initial_payoff = {{initial_payoff|json}};
    var my_total_payoff = {{initial_payoff|json}};
    var my_group = {{ my_role }};
    var nb_group = {{nb_group}};
    var max_attack ={{max_attack|json}};
    var attacked_payoff_group = {{Constants.attacked_payoff|json}};

    
    var i = 0;
    
    $('#slider_group_'+roles[i]).slider({
    value: my_initial_payoff,
    min: 0,
    max: my_initial_payoff,
    animate: "slow",
    range: "min",
    orientation: "vertical",
    create: function( event, ui ) {     
            $(this).slider("disable");
            },
    });


 

     


   {% for role in roles_list %}
       {% if forloop.counter > 1 %}

        
          
        $('#slider_group_'+ {{role}}).slider({
        min: 0,
        max: max_attack,
        animate: "slow",
        range: "min",
        orientation: "vertical",
        create: function( event, ui ) {
            //$( this).slider( "disable" );

            $(this).css("filter","hue-rotate("+huerotate[ {{role}}]+"deg)");
            $("#title_group_"+ {{role}}).css("filter","hue-rotate("+huerotate[ {{role}}]+"deg)");
            $("#display_group_"+ {{role}}).css("filter","hue-rotate("+huerotate[ {{role}}]+"deg)");

                },
        start: function( ev, ui ) {

                $( this).children( ".ui-slider-vertical .ui-slider-handle").show();

            if(ui.value == 0){
             $("#display_group_{{ role }}").text( 0 );
              $("#group_{{role}}").val( 0);     
              }
                
              },     
        slide: function( ev, ui ) {


      // Get current total
                var total = 0;    
           
            $('.slider:not(#slider_group_{{ my_role }})').not(this).each(function () {
                total += $(this).slider('value');
            })
        
           
                var max =  max_attack - total;

                 
                if (max - ui.value >= 0) {
                    // Need to do this because apparently jQ UI
                    // does not update value until this event completes
                    total += ui.value;

            var valround = my_initial_payoff - total;
            valround = valround.toFixed(1); // round to solve the math problem of javascript https://stackoverflow.com/questions/588004/is-floating-point-math-broken
             $("#slider_group_{{ my_role }}").slider( "value", valround );
             $("#display_group_{{ my_role }}").text(valround);
             
             $("#money_spent").text(c(my_initial_payoff-valround)); 
             $("#money_my_group_gained").text(c((my_initial_payoff-valround)* {{group_payoff|json}})); 

           

             $("#money_lost_role_"+ {{role}}).text( ui.value * {{group_attacked_payoff|json}});
             $("#display_group_{{ role }}").text( -ui.value *{{group_attacked_payoff|json}} );
             $("#group_{{ my_role }}").val(valround); $("#group_{{role}}").val( ui.value );

            if(mode == "parochial"){

                $("#money_I_gained").text(c((my_initial_payoff-valround)* {{group_payoff|json}}/{{Constants.players_per_role}})); 
          
            }else{
                $("#money_I_gained").text(c((my_initial_payoff-valround)* {{individualist_payoff|json}})); 
  
                }
                $("#money_other_gained").text(c((my_initial_payoff-valround)* {{group_payoff|json}}*({{Constants.players_per_role}}-1)/{{Constants.players_per_role}})); 

            

    

            }else{
                                
            total += max;
                            
             $(this).slider({
                     value:max,
                      animate: "slow",
                     });  
            var valround = my_initial_payoff - total;
            valround = valround.toFixed(1); // round to solve the math problem of javascript https://stackoverflow.com/questions/588004/is-floating-point-math-broken
            
             $("#slider_group_{{ my_role }}").slider( "value", valround );
             $("#display_group_{{ my_role }}").text(valround); 
             $("#money_spent").text(c(my_initial_payoff-valround)); 
             $("#money_my_group_gained").text(c((my_initial_payoff-valround)* {{group_payoff|json}})); 

            if(mode == "parochial"){
            $("#money_I_gained").text(c((my_initial_payoff-valround)* {{group_payoff|json}}/{{Constants.players_per_role}})); 
           }else{
           $("#money_I_gained").text(c((my_initial_payoff-valround)* {{individualist_payoff|json}})); 
                  }
            
            $("#money_other_gained").text(c((my_initial_payoff-valround)* {{group_payoff|json}}*({{Constants.players_per_role}}-1)/{{Constants.players_per_role}})); 


             $("#money_lost_role_"+ {{role}}).text( max* {{group_attacked_payoff|json}});
             $("#display_group_{{ role }}").text( -max*{{group_attacked_payoff|json}}  );
             $("#group_{{ my_role }}").val(valround); $("#group_{{role}}").val( max );
    
             
             console.log("my_initial_payoff:"+my_initial_payoff+" , max;"+max+", max_attack;"+max_attack+" total;"+total+" ui.value;"+ui.value+", valround;"+valround);

        
             return false;
             
           
            }
             
        }

    });   
          

       {% endif %}
   {% endfor %}
   
  

});
        
</script>

{% endblock %}


