{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/highcharts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>
       <link href="{% static 'IPDradical/style.css' %}" rel="stylesheet"/>   

    <style>
body{
    border-color : {{my_colors}};     
     }


 
    .otree-title{
                text-align: center;
}
    .otree-body {
    max-width: 1100px;
}
        
        .slider {
    margin: 50px;
    margin-top:150px;
    height: 250px;
    width: 130px;
    margin-bottom: 5px;
    display: inline-block;
    }

.display_group {
    font-size: 50px;
    border-radius: 10px;
    background: #ffc107;
    text-align: center;
    color: white;
    bottom: 150px;
    position: relative;
}
.max_attack{
    border-radius: 10px;
    background: {{my_colors}};
    text-align: center;
    color: white;
    padding: 5px;
    
}
.page-header {
    padding-top: 0;
}

h2{
      color: #696969;
   }

.title_group {

font-size: 20px;
    text-align: center;
    color: black;
    bottom: 150px;
    position: relative;        
        
        }

.ui-widget.ui-widget-content {
    border: none;
}
        
.ui-widget-header {
    background: url('{% static "global/coins.png" %}');
    background-repeat: repeat-y;
}
.ui-slider-range {
        
    cursor: pointer;        
        }

.ui-widget-content {
    border: none; 
    background: #fff;
    color: #333;
}

.ui-slider-vertical .ui-slider-handle {
    left: 50px;
    margin-left: 0;
    margin-bottom: -5;
    border-radius: 10px;
    outline: none;


}
.ui-slider {
    background: url('{% static "global/coins-bg.png" %}');
    background-repeat: repeat-y;
}
.ui-state-active,  .ui-widget-content .ui-state-active{
        background:#ffc107;
        border: 1px solid #f6f6f6;
        }
.ui-state-focus,  .ui-widget-content .ui-state-focus{
        background:#ffc107;
        border: 1px solid #f6f6f6;
        }

.ui-slider .ui-slider-handle {
    cursor: pointer;

}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 1;
}

.highcharts-background{
            background-color: #f5f5f5;
    fill: #f5f5f5;

        }




.highcharts-title{
    font-size: 20px; 
    text-align: center;
    padding-top: 2px;
        }

.color-myrole{
        color: {{my_colors}};
}



{% for color in colors %}
.color-role-{{forloop.counter0}}{
        color: {{color}};
}  

.ranking{
    margin: auto;
    float:right;
    width: 60%;       
     font-size: 1.6em; 
text-align:right;   
color:#616161;   
        }
#myranking{
    border: 2px solid;     
    margin: 5px;
    padding: 5px;
        }
.desc_ranking{
    margin: 25px;      
      }

{% endfor %}

    </style>

{% endblock %}


{% block content %}

<center>

<h2>
Classement
</h2>
</center>


<div class="ranking">

{% for color in players %}
<p>
{% if forloop.counter == player.id_in_group %}
<span  id="myranking" style={{color}} >
Vous êtes n°{{player.id_in_group}}
</span>

{%else%}

{{forloop.counter}}
{% endif %}
<i class="fas fa-user" style={{color}}></i>
</p>


{% endfor %}
</div>
<div class="desc_ranking">

{% if standalone == False %}
<h2>
<p>
    {% if session_choice == 0 %}
    Le tirage au sort a choisi d'accorder les points de la première partie</br>
      {% else %}
    Le tirage au sort a choisi d'accorder les points de la seconde partie</br>
      {% endif %}
</p>
</h2>



<h2>
Dans la
{% if session_choice == 0 %}
première
{% else %}
seconde
{% endif %}
partie, vous avez fini n°{{player.id_in_group}} sur les {{Constants.players_per_group}} participants.
</h2>

{% endif %}

<h2>
Vous êtes donc maintenant dans le groupe <span class="color-myrole">{{mycolorname}}</span> <i class="fas fa-users color-myrole"></i> avec deux autres participants. Pour rappel, les points pour cette nouvelle partie sont multipliés par {{multiplier}}, vous commencez donc avec {{player.participant.payoff}}.
</h2>

</div>
   <button id="btn-next" class="btn btn-primary btn-large" style="float: right; font-size: 25px;">
        Suivant
    </button>

 

{% endblock %}


