{% extends 'otree/WaitPage.html' %}
{% load otree %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/highcharts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>
       <link href="{% static 'IPDradical/style.css' %}" rel="stylesheet"/>   

    <style>

body{
    border-color : {{my_colors}};     
     }


.highcharts-title{
    font-size: 18px; 
    text-align: center;
    padding-top: 2px;
        }
    
.weather-active-{{weather}}{
        color: {{my_colors}};
    border: {{my_colors}} solid 3px;
    padding: 5px;
    border-radius: 20px;
        }

.color-myrole{
        color: ;
}

{% for color in colors %}
.color-role-{{forloop.counter0}}{
        color: {{color}};
}  


{% endfor %}
    </style>

{% endblock %}
{% block title %}{{ title_text }}{% endblock %}
{% block content %}
{% if player.timeout %}

<h2>
<div style="" class="alert alert-danger" role="alert">
Le temps limite a été atteint, vos choix n'ont donc pas été pris en compte, le jeu a joué aléatoirement à votre place.
</div>
<div style="" class="alert alert-warning" role="alert">
Attention, on vous rappelle qu'il est impératif de cliquer sur chaque pile pour pouvoir valider votre choix.
</div>

</h2>
       {% endif %} 

<div class="info">

    <div id="weather" class="highcharts-title">
    <p>Météo de votre groupe pour 
       {% if weather_next_tour > 1 %}
    les <span>{{weather_next_tour}}</span> tours suivants
       {% elif weather_next_tour > 0 %}
    le tour suivant
        {% else %}
    ce tour
       {% endif %} 
    </p>
        <div class="weather-icons">
        <i class="fas fa-2x fa-sun weather-active-positive"> +{{weather_val_percent.positive }}%</i>
        <i class="fas fa-2x fa-cloud-sun weather-active-neutral"> +{{weather_val_percent.neutral  }}%</i>
        <i class="fas fa-2x fa-cloud weather-active-negative"> {{weather_val_percent.negative  }}%</i>
        </div>
    
    </div>

    <div id="chart_column"></div>
    
    <div id="chart"></div>

</div>

{% endblock %}
{% block scripts %}


<script src="{% static 'global/highcharts.js' %}"></script>
<script src="{% static 'IPDradical/script.js' %}"></script>


<script>
    var num_round = {{Constants.num_rounds}};
    var categories_chart = {{round_list}};
    var colors = {{colors|json}};

draw_linechart({{  highcharts_series|json  }}, "Historique des tours précédents", categories_chart,num_round);

draw_columnchart({{ highcharts_series_columns|json }},"Situation actuelle");
 
  

</script>
{% endblock %}