{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Résultats du tour n°{{round}}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/highcharts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>

   <link href="{% static 'IPDradical/style.css' %}" rel="stylesheet"/>   

    <style>
body{
    border-color : {{my_colors}};     
     }

.highcharts-title{
    font-size: 18px; 
    text-align: center;
    padding-top: 2px;
        }
    
.weather-active-{{weather}}{
        color: {{my_colors}};
    border: {{my_colors}} solid 3px;
    padding: 5px;
    border-radius: 20px;
        }

.color-myrole{
        color: {{my_colors}};
}

{% for color in colors %}
.color-role-{{forloop.counter0}}{
        color: {{color}};
}  


{% endfor %}
    </style>

{% endblock %}


{% block content %}


<div class="info">

    <div id="weather" class="highcharts-title">
    <p>Météo de votre groupe pour 
       {% if weather_next_tour > 1 %}
    les <span>{{weather_next_tour}}</span> tours suivants
       {% elif weather_next_tour > 0 %}
    le tour suivant
        {% else %}
    ce tour
       {% endif %} 
    </p>
        <div class="weather-icons">
        <i class="fas fa-2x fa-sun weather-active-positive"> +{{weather_val_percent.positive }}%</i>
        <i class="fas fa-2x fa-cloud-sun weather-active-neutral"> +{{weather_val_percent.neutral  }}%</i>
        <i class="fas fa-2x fa-cloud weather-active-negative"> {{weather_val_percent.negative  }}%</i>
        </div>
    
    </div>

    <div id="chart_column"></div>
    
    <div id="chart"></div>

</div>

<div class="info" style="font-weight: bold;" >

    <div id="results"  style="min-width: 310px; height: 400px; margin: 0 auto"></div>
 
  <div style="text-align : center; margin:10px">

<h2>Votre cagnotte individuelle est donc passée</br> de {{initial_payoff}} à <span class="payoff">{{ player.participant.payoff }}</span>
</h2>
    <button class="otree-btn-next btn btn-primary">Passer au tour suivant</button>

  </div>
  

    
</div>

{% endblock %}

{% block scripts %}


<script src="{% static 'global/highcharts.js' %}"></script>
<script src="{% static 'IPDradical/script.js' %}"></script>


<script>
    var num_round = {{Constants.num_rounds}};
    var categories_chart = {{round_list}};
    var colors = {{colors|json}};

draw_linechart({{  highcharts_series|json  }}, "Historique des groupes suite à ce tour", categories_chart,num_round);

draw_columnchart({{ highcharts_series_columns|json }},"Résultat de ce tour");

if("{{mode}}" == "parochial"){
    draw_resultschart({{ highcharts_series_results|json }},"Gains et pertes de votre groupe lors de ce tour",['À cause des autres groupes', 'Grâce à vous', 'Grace au second joueur du groupe','Grace au troisième joueur du groupe', 'Du fait de la météo']);

    }else{
    draw_resultschart({{ highcharts_series_results|json }},"Gains et pertes de votre groupe lors de ce tour",['À cause des autres groupes', 'Pris par à vous', 'Pris par le second joueur du groupe','Pris par le troisième joueur du groupe', 'Du fait de la météo']);

    }
</script>
{% endblock %}
