{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/highcharts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>
       <link href="{% static 'IPDradical/style.css' %}" rel="stylesheet"/>   

    <style>
body{
    border-color : {{my_colors}};     
     }

    
    .otree-timer {
    display: none;
}
 
    .otree-title{
                text-align: center;
}
    .otree-body {
    max-width: 1100px;
}
        
        .slider {
    margin: 50px;
    margin-top:150px;
    height: 250px;
    width: 130px;
    margin-bottom: 5px;
    display: inline-block;
    }

.display_group {
    font-size: 50px;
    border-radius: 10px;
    background: #ffc107;
    text-align: center;
    color: white;
    bottom: 150px;
    position: relative;
}
.max_attack{
    border-radius: 10px;
    background: {{my_colors}};
    text-align: center;
    color: white;
    padding: 5px;
    
}
.page-header {
    padding-top: 0;
}

h2{
      color: #696969;
   }

.title_group {

font-size: 20px;
    text-align: center;
    color: black;
    bottom: 150px;
    position: relative;        
        
        }

.ui-widget.ui-widget-content {
    border: none;
}
        
.ui-widget-header {
    background: url('{% static "global/coins.png" %}');
    background-repeat: repeat-y;
}
.ui-slider-range {
        
    cursor: pointer;        
        }

.ui-widget-content {
    border: none; 
    background: #fff;
    color: #333;
}

.ui-slider-vertical .ui-slider-handle {
    left: 50px;
    margin-left: 0;
    margin-bottom: -5;
    border-radius: 10px;
    outline: none;


}
.ui-slider {
    background: url('{% static "global/coins-bg.png" %}');
    background-repeat: repeat-y;
}
.ui-state-active,  .ui-widget-content .ui-state-active{
        background:#ffc107;
        border: 1px solid #f6f6f6;
        }
.ui-state-focus,  .ui-widget-content .ui-state-focus{
        background:#ffc107;
        border: 1px solid #f6f6f6;
        }

.ui-slider .ui-slider-handle {
    cursor: pointer;

}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 1;
}

.highcharts-background{
            background-color: #f5f5f5;
    fill: #f5f5f5;

        }


#slider_group_{{ my_role }} .ui-slider-handle{
    opacity: 0;
        }


#chart_column{
    width: 25%;
    height: 250px;
    float: right;
        }

#chart{
    width: 50%;
    height: 250px;
        }

#random-weather{
    width: 50%;
    text-align: center;
    margin:auto;
        }

.highcharts-title{
    font-size: 20px; 
    text-align: center;
    padding-top: 2px;
        }
.weather-icons{
      margin: auto;
          margin-top: 20px;
          color : #cccccc47;
        }
.weather-lottery{
        opacity: 0;
        }

.weather-active-{{weather}}{
        color: {{my_colors}};
        }

.color-myrole{
        color: {{my_colors}};
}
.weather-icons .fas{
     margin-bottom: 10px;

     }


{% for color in colors %}
.color-role-{{forloop.counter0}}{
        color: {{color}};
}  



{% endfor %}

    </style>

{% endblock %}


{% block content %}

<center>

<h2>Nouvelle météo pour votre groupe <span class="color-myrole">{{mycolorname}}</span> <i class="fas fa-users color-myrole"></i> pour les {{Constants.interval}} prochains tours</h2>

</center>

    <div  style="    width: 100%;margin: auto;">
  
    <div id="random-weather">
        <div class="weather-icons">
        <i class="fas fa-5x fa-sun weather-active-positive weather-lottery"> +{{weather_val_percent.positive }}%</i>
        <i class="fas fa-5x fa-cloud-sun weather-active-neutral weather-lottery"> +{{weather_val_percent.neutral  }}%</i>
        <i class="fas fa-5x fa-cloud weather-active-negative weather-lottery"> {{weather_val_percent.negative  }}%</i>
        </div>
    
    </div>
    </div>

<div id="weather_info" style="opacity:0">

<h2>
<p>Le hasard a décidé que :</br>

Durant les 5 prochains tours, le nombre de points de tous les membres de votre groupe <span class="color-myrole">{{mycolorname}}</span> <i class="fas fa-users color-myrole"></i>
      {% if weather == "positive" %}
augmentera de {{weather_val_percent.positive }} %
      {% elif weather == "neutral" %}
augmentera de {{weather_val_percent.neutral }} %
      {% elif weather == "negative" %}
diminuera de {{weather_val_percent.negative }} %
      {% endif %}
      
à la fin de chaque tour indépendament de vos choix et de ceux des autres joueurs.
</h2>
</p>


</div>



   <button id="btn-next" class="btn btn-primary btn-large" style="float: right; font-size: 25px; opacity:0">
        Jouer
    </button>

 

{% endblock %}
{% block scripts %}

<script>

        
    var current_round = {{round}};
    var num_round = {{Constants.num_rounds}};
    var categories_chart = {{round_list}};
    var colors = {{colors|json}};
    var huerotate = {{Constants.huerotate}};
    var roles = {{roles_list}};
jQuery(document).ready(function() {
        
    var i=1; 
    var lottery = setInterval(function(){

      var n=(i-1)%3 + 1;console.log(n);
     i++;
 
       $(".weather-lottery:nth-child("+n+")").fadeTo( 200 , 1, function() {
    // Animation complete.
      $(this).css( "color","{{my_colors}}" );
  }).fadeTo( 200 , 0) ;
    
}, 400);

    setTimeout(function(){ 
            clearInterval(lottery);
        $(".weather-lottery").fadeTo( 100 , 0); 
          $(".weather-active-{{weather}}").fadeTo( 100 , 1);  
           $("#btn-next,#weather_info").fadeTo( 2000 , 1); 
           
           
               }, 4000);
    

}); 
        
</script>

{% endblock %}


