body{
    border : 10px solid; 
    min-height: 1024px;
     }

    .otree-title{
                text-align: center;
}
    .otree-body {
    max-width: 1100px;
}


.otree-timer p{
    margin-bottom: 0px;
    
        }

.display_group {

    margin-top: 10px;
    font-size: 50px;
    border-radius: 10px;
    background: #ffc107;
    text-align: center;
    color: white;
    position: relative;
}
.max_attack{
    border-radius: 10px;
    background: #DDD;
    text-align: center;
    color: white;
    padding: 5px;
    
}
.page-header {
    padding-top: 0;
}

h2{
      color: #696969;
   }

.title_group {


font-size: 20px;
    text-align: center;
    color: black;
    position: relative;        
        
        }


.highcharts-background{
            background-color: #f5f5f5;
    fill: #f5f5f5;

        }


#chart_column{
    width: 25%;
    height: 250px;
    float: right;
        }

#chart{
    width: 50%;
    height: 250px;
        }

#weather{
    width: 25%;
    height: 250px;
    float: right;
        }

.highcharts-title{
    font-size: 18px; 
    text-align: center;
    padding-top: 2px;
        }
.weather-icons{
      margin: auto;
          margin-top: 20px;
          color : #cccccc47;
        }



.weather-icons .fas{
     margin-bottom: 10px;

     }
.info{
    display: flow-root;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.info-group{
    width: 35%;
    float:left;
     font-size: 20px; 
    font-weight: bold;
   
    }
.info-other-group{
    width: 33%;
    float:left;
    font-size: 20px; 
    font-weight: bold;

    }

.payoff{
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background: #9e9e9e;
    text-align: center;
    color: white;      
        }
