{% extends 'otree/WaitPage.html' %}
{% load otree %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>   
   <link href="{% static 'IPScrabble/style.css' %}" rel="stylesheet"/>   

    <!-- define a style -->
    <style type="text/css">
    .otree-wait-page{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 1260px;  
            }
    .hand_box {
    float: right;
}
    .progress-bar{
    font-size: .75rem;
    border-radius: .25rem;
            }
    .progress{
    height: 50px;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #3b84c3;
    background-color: #c0c0c0;
    box-shadow: 1px 6px 10px #999;
    }
    .card{
                margin: 55px auto;
        }
    .fixed_box{
        left: 0;        
    }
    .top-fixed_box{
      top: 50px;                   
            }

.game {
     {% if subtreatment == 'IP'%}
    margin-top: 60px;
    {% else %}
    margin-top: 5px;
    {% endif%}


}
 
   
    </style>

 

{% endblock %}


{% block content %}
<div class="top-fixed_box">
<div class="top-title">
<h4>
<p>Tour n°{{period}}/{{total_period}}. C'est aux autres participants de créer des mots. Vos points :<span class="points">{{player.participant.payoff}}</span>.
</p>
</h4>
{% if subtreatment == 'IP'%}

<h6>
<p>
Grâce aux frais d'utilisation, vous avez gagné <span class="points">{{royalties_earned}}</span>
</p>
</h6>

<h6><p>
À cause des frais d'utilisation, vous avez perdu <span class="points-negative">{{royalties_spent}}</span>
</p>
</h6>
{% endif %}

</div>



<div class="title_desc top_desc" >
       <div style="width:30%;float: left;">Mots créés par vous</div>
       <div style="float: right;width:70%;">Mots créés par les autres participants</div>
</div>
</div>


<div class="game">  




<div id="board_list" class="board_box">
  
 {% if not word_cost %}
<div> Aucun mot n'a été créé pour le moment</div>
{% endif %}

   {% for word_player in word_cost %}
    
        {%  if forloop.first %}
        <div class="player_words_first">  


           {% for word,word_str,cost_relative,cost,score in word_player %}
           <div class="word_box">  
        
        
               <ul id="board-{{word_str}}" class="board words connectedSortable">
            
                   {% for letter,val in word %}
                        <li class="ui-state-disabled" oldvalue="{{letter}}" value="{{letter}}">{{letter}}<i style="display:none">{{val|json}}</i></li>
                   {% endfor %}
                    
                </ul>
                
                     
                <div class="word_cost_score">
                    <div class="board_word_score">{{score|json}}</div>
                {% if subtreatment == 'IP'%}
                    <div class="word_cost" style="width: {{cost_relative|json}}%"></div>
                    <div class="board_word_cost">{{cost|json}}</div>
                {% endif %}  
                </div>
        
        
        
             </div>
           {% endfor %}
     </div>
   <div class="player_other_words">  
   {% else %}
   
    

       <div class="player_words">  

    
           {% for word,word_str,cost_relative,cost,score in word_player %}
           <div class="word_box">  
        
        
               <ul id="board-{{word_str}}" class="board words connectedSortable">
            
                   {% for letter,val in word %}
                        <li class="ui-state-disabled" oldvalue="{{letter}}" value="{{letter}}">{{letter}}<i style="display:none">{{val|json}}</i></li>
                   {% endfor %}
                    
                </ul>
                
                     
                <div class="word_cost_score">
                    <div class="board_word_score">{{score|json}}</div>
                {% if subtreatment == 'IP'%}
                    <div class="word_cost" style="width: {{cost_relative|json}}%"></div>
                    <div class="board_word_cost">{{cost|json}}</div>
                {% endif %}  
                </div>
        
        
        
             </div>
           {% endfor %}
     </div>
     
     {% endif %}

   {% endfor %} 
</div>


 </div>


<div class="fixed_box">


    <div class="hand_box">  

            <div class="title_desc">Vos lettres disponibles pour le prochain tour</div>
    
            <ul id="hand_area" class="words connectedSortable">
            
               {% for letter,val in hand %}
                {%  if forloop.last and new_letter %}
                        <li class="ui-state-highlight new_letter sortable" newvalue="{{letter}}" value="{{letter}}">{{letter}}<i>{{val}}</i></li>
                {% else %}
                        <li class="ui-state-highlight sortable" newvalue="{{letter}}" value="{{letter}}">{{letter}}<i>{{val}}</i></li>
                {% endif %}


               {% endfor %}
            
            </ul>
    
    </div>




   




</div>

    
{% endblock %}

{% block scripts %}

{% endblock %}
