{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>   
   <link href="{% static 'IPScrabble/style.css' %}" rel="stylesheet"/>   
   <link href="{% static 'global/spinner.css' %}" rel="stylesheet"/>   

<style>


.otree-timer {
    display: block;
    position: fixed;
    bottom: 0px;
    margin-bottom: 5px;
    z-index: 2;
}

#royalties_box .form-group {
font-size: 1.5vw;
}
.game {
     {% if subtreatment == 'IP'%}
    margin-top: 150px;
    {% else %}
    margin-top: 100px;
    {% endif%}

}
 
 
</style>

{% endblock %}
 


{% block title %}     {% endblock %}
    


{% block content %}
<div class="top-fixed_box">
<div class="top-title">
<h4>
<p>Tour n°{{period}}/{{total_period}}. C'est à vous de créer ou étendre un mot. Vos points :<span class="points">{{player.participant.payoff}}</span>.
</p>
</h4>
{% if subtreatment == 'IP'%}
<h6>
<p>
Grâce aux frais d'utilisation, vous avez gagné <span class="points">{{royalties_earned}}</span>
</p>
</h6>

<h6><p>
À cause des frais d'utilisation, vous avez perdu <span class="points-negative">{{royalties_spent}}</span>
</p>
</h6>
{% endif %}

</div>



<div class="title_desc top_desc">
       <div style="width:30%;float: left;     text-align: left;">Étendre un mot créé par vous</div>
       <div style="float: right;width:70%;">Étendre un mot créé par les autres participants</div>
</div>
</div>

{{ form.new_word.errors }}
<div class="game">  




<div id="board_list" class="board_box">
  
 {% if not board %}
<div> Aucun mot n'a été créé pour le moment</div>
{% else %}

   {% for word_player in word_cost %}
    
        {%  if forloop.first %}
        <div class="player_words_first">  


           {% for word,word_str,cost_relative,cost,score in word_player %}
           <div class="word_box">  
        
        
               <ul id="board-{{word_str}}" class="board words connectedSortable">
            
                   {% for letter,val in word %}
                        <li class="ui-state-disabled" oldvalue="{{letter}}" value="{{letter}}">{{letter}}<i style="display:none">{{val|json}}</i></li>
                   {% endfor %}
                    
                </ul>
                
                     
                <div class="word_cost_score">
                    <div class="board_word_score">{{score|json}}</div>
                {% if subtreatment == 'IP'%}
                    <div class="word_cost" style="width: {{cost_relative|json}}%"></div>
                    <div id="board_cost-{{word_str}}" class="board_word_cost">{{cost|json}}</div>
                {% endif %}  
                </div>
        
        
        
             </div>
           {% endfor %}
     </div>
   <div class="player_other_words">  

   {% else %}
   
          <div class="player_words">  


       

    
           {% for word,word_str,cost_relative,cost,score in word_player %}
           <div class="word_box">  
        
        
               <ul id="board-{{word_str}}" class="board words connectedSortable">
            
                   {% for letter,val in word %}
                        <li class="ui-state-disabled" oldvalue="{{letter}}" value="{{letter}}">{{letter}}<i style="display:none">{{val|json}}</i></li>
                   {% endfor %}
                    
                </ul>
                
                     
                <div class="word_cost_score">
                    <div class="board_word_score">{{score|json}}</div>
                {% if subtreatment == 'IP'%}
                    <div class="word_cost" style="width: {{cost_relative|json}}%"></div>
                    <div id="board_cost-{{word_str}}" class="board_word_cost">{{cost|json}}</div>
                {% endif %}  
                </div>
        
         </div>
        
           {% endfor %}
              

        </div> 

     {% endif %}
  
   {% endfor %} 
 {% endif %}
</div>


 </div>

<div class="fixed_box">

<div id="notexist" class="alert alert-danger" role="alert">Le mot n'existe pas !</div>
<div id="tooshort" class="alert alert-warning" role="alert">Mot trop court ({{Constants.min_nb_letters}} lettres min) !</div>
<div id="toolong" class="alert alert-warning" role="alert">Mot trop long ({{Constants.max_nb_letters}} lettres max) !</div>

<div id="not_new" class="alert alert-danger" role="alert">Ce mot a déjà été créé !</div>
<div id="extendmax" class="alert alert-warning" role="alert">Vous ne pouvez ajouter qu'une seule lettre par tour</div>

<div style="display:flex;">

    <div class="new_box">
            <div class="title_desc">Ou créer un nouveau mot (entre {{Constants.min_nb_letters}} et {{Constants.max_nb_letters}} lettres)</div>
            <div>              
               
                <div class="word_score"><span id="word_score_val"></span> </div>
            </div>
         <div style="margin-top:5px;     border-radius: 5px;">

            <ul id="new_word_area" class="words connectedSortable" >
            </ul>
         </div>

     </div>

    <div class="hand_box">  

            <div class="title_desc">Vos lettres disponibles pour étendre ou créer un mot</div>
    
            <ul id="hand_area" class="words connectedSortable">
            
               {% for letter,val in hand %}
                {%  if forloop.last and new_letter %}
                        <li class="ui-state-highlight new_letter sortable" newvalue="{{letter}}" value="{{letter}}">{{letter}}<i>{{val}}</i></li>
                {% else %}
                        <li class="ui-state-highlight sortable" newvalue="{{letter}}" value="{{letter}}">{{letter}}<i>{{val}}</i></li>
                {% endif %}


               {% endfor %}
            
            </ul>
    
    </div>




   
<div id="yourtour">
C'est à vous de jouer !
</div>

    {% if subtreatment == 'IP' %}
    <div id="popup_box">
    
        <div id="royalties_box">
        Vous avez créé le mot <span id="word_played"  class="points"></span> d'une valeur totale de <span  class="points" id="word_played_points"></span>. 
        </br></br><span id="word_played_cost"></span><span id="word_played_gain"></span>
        </br></br>Veuillez maintenant choisir le coût d'utilisation <span id="word_played_letter"></span>:
    <p>
        {% formfield player.royalties %}
    </p>    
        <div id="thanks">
        Merci, c'est au tour des autres participants.
        </div>
        
        </div>
        
        
      </div>
  
    {% endif %}

</div>    
        <div class="btn_submit">
            <button id="btn_pass" class="btn btn-primary btn-large">Je passe mon tour</button>
        {% if subtreatment == 'IP' %}    
            <button id="btn_play" class="btn btn-primary btn-large" style="display:none" disabled type="button">Je valide</button>
          {% else %} 
            <button id="btn_play" class="btn btn-primary btn-large" style="display:none" disabled>Je valide</button>
          
           {% endif %}
        </div>

</div>

    

<input name="new_word" id="id_new_word" type="hidden"/>
<input name="extended_word" id="id_extended_word" type="hidden"/>
<input  name="letters_added" id="id_letters_added" type="hidden"/>


<div id="overlay-timeout" class="ui-widget-overlay" style="z-index: 1000; display: none;     background: #607D8B;    opacity: 1; padding:50px">

<h2>
<div  class="alert alert-danger" role="alert">
Le temps limite a été atteint, aucun mot n'a donc été enregistré.
</div>
<div  class="alert alert-warning" role="alert">
Attention, on vous rappelle qu'il est impératif de cliquer sur le bouton « Je valide » pour prendre en compte le nouveau mot créé.
</div>

</h2>
</div>

<div id="overlay" class="ui-widget-overlay" style="z-index: 1001; display: none;     background: #607D8B;    opacity: 0.9;">
  <div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
</div>    
{% endblock %}

{% block scripts %}
<script src="{% static 'global/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'IPScrabble/script.js' %}"></script>

  <script>

     
    var letter_values = {{Constants.letter_values|json}};

        
    var min_nb_letters = {{Constants.min_nb_letters}};
    var max_nb_letters = {{Constants.max_nb_letters}};
    var ext_nb_letters = {{Constants.ext_nb_letters}}; 
    var hand = {{hand|json}};
    var board = {{board|json}};  

function display_word_points(extended,word,letter)    {
        
    if (word){       
                var i = word.length;
                var score = 0;
                while (i--) {
                  score += letter_values[word.charAt(i)];
                }        
        
        $("#word_played").html(""+word+"" );
        if($("#board_cost-"+extended).text()){
        var word_gain = parseFloat(score) + parseFloat($("#board_cost-"+extended).text())
            if ( parseFloat($("#board_cost-"+extended).text()) != 0 ){
            $("#word_played_cost").html("Mais le coût d'utilisation du mot <span class='points-negative'>"+extended+"</span> était de  <span class='points-negative'>"+$("#board_cost-"+extended).text()+" points</span>.</br></br>" );
            
            $("#word_played_gain").html("Vous gagnez donc <span class='points'>"+ word_gain.toFixed(1)+" points </span>" );
            }
        }
        if (letter.length > 1){
        $("#word_played_letter").html("pour le mot créé <span class='points'>"+letter+"</span>" );
        }else{
         $("#word_played_letter").html("pour la lettre ajoutée <span class='points'>"+letter+"</span>" );
   
        }
        $("#word_played_points").html(""+score+" points" );      
        
        }
                }
    
function checkdictionary(div_word,word,csrf_token) { 
        
                        $(div_word).parent().removeClass("notindict");

                                   $.ajax({
                                   type: "POST",
                                   url: "/dictionary/",
                                   traditional: true,
                                   data: {
                                           'word': word,
                                           csrfmiddlewaretoken: csrf_token,
                                         },
                                   success: function(data) {
                                           if (data=="True")
                                           { $(div_word).parent().removeClass("notindict");
                                              $("#notexist").hide();
                                             $("#btn_play").removeAttr("disabled");  
                                                       

                                            }else
                                           {
                                            $(div_word).parent().addClass("notindict");
                                            $("#notexist").show();
                                            $("#btn_play").attr("disabled", "disabled");
                                                   }
                                   }
                                });
}    

  
function check(div_word,word) {
            console.log("executed");

            $( "ul.board" ).parent().removeClass("notindict");
            $("#not_new").hide();
            $("#btn_play").attr("disabled", "disabled");

            if (word){ console.log(word.length );console.log(min_nb_letters );
                if(word.length >= min_nb_letters){
                     $(div_word).removeClass("tooshort_box");
                     $("#tooshort").hide();    
                    if(board.indexOf(word) == -1)
                        {
                            checkdictionary(div_word,word,"{{ csrf_token }}");

                            
                          }
                        else
                        {
                            $("#not_new").show();
                            $( "#board-"+word ).parent().addClass("notindict");
                            $(div_word).parent().addClass("notindict");
                        }
                
                }else{
                        $(div_word).addClass("tooshort_box");
                         $("#tooshort").show();
                          $("#notexist").hide();
                          $(div_word).parent().removeClass("notindict");
                    }
            }else{
            $(div_word).removeClass("tooshort_box");
            $("#tooshort").hide();
            
                         
            $(div_word).parent().removeClass("notindict");
            $("#notexist").hide();
            
            
            }




};


  
  
$( document ).ready(function() {
        
        
         
setTimeout(function() {
          $("#yourtour").hide();
}, 1500);


            $('.otree-timer__time-left').on('finish.countdown', function (event) {
                $("#overlay, .sk-fading-circle, #PleaseWait").show();
             
            });
        $('.otree-timer__time-left').on('update.countdown', function (event) {
                
                
                
                if (event.offset.totalSeconds === {{Constants.board_timeout_bonus_for_royalties}} && !$("#popup_box").is(':visible') && !$("#overlay").is(':visible')) {
                //$("#btn_pass").click();   
 $("#overlay-timeout").show();
                             
                }else if($("#popup_box").is(':visible')){
                var newtimeout = event.offset.totalSeconds;
                $('.otree-timer__time-left').html(newtimeout+"s");        
                        
                        }else{
                var newtimeout = event.offset.totalSeconds - {{Constants.board_timeout_bonus_for_royalties}};
                $('.otree-timer__time-left').html(newtimeout+"s");        
                        
                        }
            });
      
        
   $('#form').submit(function() {
    $("#overlay, .sk-fading-circle, #PleaseWait").show();
});  
        
 
 $( "#btn_play" ).on('click', function (event) {
         $("#popup_box").show();
         display_word_points($('#id_extended_word').val(),$('#id_new_word').val(), $('#id_letters_added').val()); 
          }); 

 $('input[type=radio][name=royalties]').change(function() {
         
         $("#thanks").show();
         setTimeout(function() {
          $("#btn_pass").click();
}, 200);
         
          }); 

          
    $( ".board" ).sortable({      
      connectWith: ".connectedSortable",
        update : function( event, ui ) {

              if( $('ul.board li.ui-state-highlight').length >  ext_nb_letters ){
                   $( "#hand_area" ).sortable( "cancel" );
                   $("#extendmax").show();
                         setTimeout(function() {
                          $("#extendmax").hide();
                }, 2000);
                  }else{
            
                
                  var letters_added = $( this ).sortable( "toArray",{attribute: 'newvalue'} );
                  letters_added = letters_added.toString().replace(new RegExp(',', 'g'), '');
                  $('#id_letters_added').val(letters_added);
                  
                  if(letters_added.length > 0 )
                     {
                      var extended_word = $( this ).sortable( "toArray",{attribute: 'oldvalue'} );
                      extended_word = extended_word.toString().replace(new RegExp(',', 'g'), '');
                      $('#id_extended_word').val(extended_word);
            
                      var new_word = $( this ).sortable( "toArray",{attribute: 'value'} );
                      new_word = new_word.toString().replace(new RegExp(',', 'g'), '');
                      $('#id_new_word').val(new_word);
                      }else{
                      $('#id_extended_word').val("");
                      $('#id_new_word').val("");
        
                              
                    }
                      check(this,new_word);
                     
                      
          }
     
          }
        
    }).disableSelection();

    $( "#hand_area" ).sortable({
      connectWith: ".connectedSortable",
      update: function( event, ui ) {

            if( $('ul.board li.ui-state-highlight').length > 0  ){
           $( "#new_word_area" ).sortable( "disable" );
          }else{
           $( "#new_word_area" ).sortable( "enable" );
                  }
 
            if( $('ul#new_word_area li.ui-state-highlight').length >  0 ){
           $( ".board" ).sortable( "disable" );
          }else{
           $( ".board" ).sortable( "enable" );
                  }
            
          if( $("#hand_area li").length < hand.length ){ 
            /* $( "#royalties_box").show();*/
             
             $( "#btn_play").show();$( "#btn_pass").hide();
             /*$("input[name='royalties']").attr('required', true);*/
        }else{
            /* $( "#royalties_box").hide();*/
             $( "#btn_play").hide();$( "#btn_pass").show();
            /* $("input[name='royalties']").attr('required', false);
             $("input[name='royalties']").prop('checked', false);*/

        }
    
                           
    },
    
    
    }).disableSelection();

        $( "#new_word_area" ).sortable({
      connectWith: ".connectedSortable",
      dropOnEmpty : true,
      receive : function( event, ui ) {
              
              if(( $('ul#new_word_area li').length > max_nb_letters) ){
                   $( "#hand_area" ).sortable( "cancel" );
                   
                   $("#toolong").show();
                         setTimeout(function() {
                          $("#toolong").hide();
                }, 2000);
                  }
              },
      update: function( event, ui ) {
              var new_word = $( "#new_word_area" ).sortable( "toArray",{attribute: 'value'} );
              new_word = new_word.toString().replace(new RegExp(',', 'g'), '');
              $('#id_new_word').val(new_word);
              
              var letters_added = $( this ).sortable( "toArray",{attribute: 'value'} );
              letters_added = letters_added.toString().replace(new RegExp(',', 'g'), '');
              $('#id_letters_added').val(letters_added);
                  

                  $('#id_extended_word').val("");
           
                check(this,new_word);
              
               
            
               uplate_word_score(new_word);
               
  
  
    },
    }).disableSelection();

  } );
  </script>
{% endblock %}
