{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>   
   <link href="{% static 'IPScrabble/style.css' %}" rel="stylesheet"/>   

    <!-- define a style -->
    <style type="text/css">
 
.otree-timer {
    display: block;
    position: fixed;
    bottom: 0px;
    margin-bottom: 5px;
    z-index: 2; 
 
   
    </style>

 

{% endblock %}
{% block title %}
    Résultats du vote :
{% endblock %}

{% block content %}

    
    

{% if vote == "IP" %}
<div class="alert alert-success" role="alert">Vous avez gagné le vote !</div>

<div class="bg-light instructions">
    <div class="card-body">

   
<p style="font-weight:bold">
<h3>
Tous les participants de votre groupe ont voté pour garder les frais d'utilisation. 
</br></br>Suite au résultat de ce vote, vous allez donc à présent jouer une seconde partie <b>toujours avec la possibilité</b> de mettre des frais d'utilisation.
</h3>
{% else %}
    {% if player.vote == 1 %}
    <div class="alert alert-danger" role="alert">Vous avez perdu le vote !</div>
    {% else %}
    <div class="alert alert-success" role="alert">Vous avez gagné le vote !</div>
    {% endif %}

<div class="bg-light instructions">
    <div class="card-body">

   
<p style="font-weight:bold">   
<h3>
Tous les participants de votre groupe n'ont pas voté pour garder les frais d'utilisation. 
</br></br>
Suite au résultat de ce vote, vous allez donc à présent jouer une seconde partie <b>sans possibilité</b> de mettre des frais d'utilisation.

{% endif %}

</p>
    

</div>
</div>
{% endblock %}


