{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>   
   <link href="{% static 'IPScrabble/style.css' %}" rel="stylesheet"/>   
{% endblock %}

{% block title %}
<center>Récapitulatif de vos points</center>
{% endblock %}

{% block content %}

<div class=" bg-light instructions" style="font-weight:bold; ">
<h3>Récapitulatif de la partie précédente : vous avez gagné au total :<span class="points">{{player.participant.payoff}}</span></h3>
    <div class="card-body" style="text-align:right; " >
    <p>
       
    </p>
    
        {% if subtreatment == 'IP' %}    
        <p>
     Vous avez gagné grâce aux frais d'utilisation sur vos contributions :<span class="points">{{royalties_earned}}</span>
    </br> </br>
     Vous avez perdu à cause des frais d'utilisation des autres joueurs :<span class="points-negative">{{royalties_spent}}</span>
    </br>
    </p>
       {% endif %}    

  </div>
  </div>   


{% endblock %}
