{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/fontawesome/css/all.css' %}"/>   
   <link href="{% static 'IPScrabble/style.css' %}" rel="stylesheet"/>   
{% endblock %}

{% block title %}
<center>Vote</center>
{% endblock %}

{% block content %}

<div class=" bg-light instructions" style="font-weight:bold; ">
<h3>Récapitulatif de la partie précédente : vous avez gagné au total :<span class="points">{{player.participant.payoff}}</span></h3>
    <div class="card-body" style="text-align:right; " >
    <p>
       
    </p>
    


        <p>
     Vous avez gagné grâce aux frais d'utilisation sur vos contributions :<span class="points">{{royalties_earned}}</span>
    </br> </br>
     Vous avez perdu à cause des frais d'utilisation des autres joueurs :<span class="points-negative">{{royalties_spent}}</span>
    </br>
    </p>
  </div>
  </div>   
<h3>Veuillez voter à présent pour la régle que vous souhaitez voir appliquer pour la prochaine partie.</h3>

    
<div id="vote_timeout" class="alert alert-warning" role="alert">Vous ne pourrez voter que dans <span id="clock">{{Constants.vote_delay}}</span> secondes, prenez ce temps pour réfléchir à votre décision.
<progress value="0" max="45" id="progressBar"></progress>
</div>
<div id="vote_now" class="alert alert-success" role="alert" style="display:none">Veuillez voter maintenant !</div>

        <div id="vote-btn">
            <button name="vote" value="True" class="btn btn-primary btn-large" disabled>Je vote pour garder les frais d'utilisation</button>
            <button name="vote" value="False" class="btn btn-primary btn-large" disabled>Je vote pour supprimer les frais d'utilisation</button>
        </div>

{% endblock %}

{% block scripts %}
  <script>
  $( document ).ready(function() {

var timeleft = {{Constants.vote_delay}};
var downloadTimer = setInterval(function(){
  document.getElementById("progressBar").value = {{Constants.vote_delay}} - --timeleft;
  if(timeleft <= 0)
    clearInterval(downloadTimer);
},1000);
   
setTimeout(
    function () {
        $(".btn").prop('disabled', false);
        $("#vote_timeout").hide(); 
        $("#vote_now").show(); 
        
    },
    {{Constants.vote_delay}}*1000 //  seconds
);
        
        });
          </script>

    {% endblock %}
